[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP
[submodule "libraries/wslay"]
	path = libraries/wslay
	url = https://github.com/tatsuhiro-t/wslay
[submodule "libraries/crypto/SigV4-for-AWS-IoT-embedded-sdk"]
	path = libraries/crypto/SigV4-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/SigV4-for-AWS-IoT-embedded-sdk
[submodule "libraries/components/amazon-kinesis-video-streams-signaling"]
	path = libraries/components/amazon-kinesis-video-streams-signaling
	url = https://github.com/awslabs/amazon-kinesis-video-streams-signaling
[submodule "libraries/coreJSON"]
	path = libraries/coreJSON
	url = https://github.com/FreeRTOS/coreJSON
[submodule "libraries/components/amazon-kinesis-video-streams-sdp"]
	path = libraries/components/amazon-kinesis-video-streams-sdp
	url = https://github.com/awslabs/amazon-kinesis-video-streams-sdp
[submodule "libraries/components/amazon-kinesis-video-streams-ice"]
	path = libraries/components/amazon-kinesis-video-streams-ice
	url = https://github.com/awslabs/amazon-kinesis-video-streams-ice
[submodule "libraries/components/amazon-kinesis-video-streams-stun"]
	path = libraries/components/amazon-kinesis-video-streams-stun
	url = https://github.com/awslabs/amazon-kinesis-video-streams-stun
[submodule "libraries/libsrtp"]
	path = libraries/libsrtp
	url = https://github.com/cisco/libsrtp
[submodule "libraries/components/amazon-kinesis-video-streams-rtp"]
	path = libraries/components/amazon-kinesis-video-streams-rtp
	url = https://github.com/awslabs/amazon-kinesis-video-streams-rtp
[submodule "libraries/components/amazon-kinesis-video-streams-rtcp"]
	path = libraries/components/amazon-kinesis-video-streams-rtcp
	url = https://github.com/awslabs/amazon-kinesis-video-streams-rtcp
[submodule "libraries/ambpro2_sdk"]
	path = libraries/ambpro2_sdk
	url = https://github.com/Freertos-kvs-LTS/freertos-kvs-LTS
[submodule "libraries/usrsctp"]
	path = libraries/usrsctp
	url = https://github.com/ambiot-mini/usrsctp.git
[submodule "libraries/components/amazon-kinesis-video-streams-dcep"]
	path = libraries/components/amazon-kinesis-video-streams-dcep
	url = https://github.com/awslabs/amazon-kinesis-video-streams-dcep.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
